<ion-header>
  <ion-toolbar>
    <ion-title>
      Third Layout Challenge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- Solution Code goes Below Modify existing code-->


  <!-- GRID -->
  <ion-grid>
      <!-- ROW 1 -->
        <ion-row>
          <ion-col size="2">
            <app-a></app-a>
          </ion-col>
        </ion-row>
      <!-- ROW 2 -->
        <ion-row>
          <ion-col size="2">
            <app-b></app-b>
          </ion-col>
  
          <ion-col size="2">
            <app-b></app-b>
          </ion-col>
        </ion-row>
      <!-- ROW 3 -->
        <ion-row>
          <ion-col>
            <app-c></app-c>
          </ion-col>
  
          <ion-col>
            <app-c></app-c>
          </ion-col>
  
          <ion-col>
            <app-c></app-c>
          </ion-col>
        </ion-row>
      <!-- ROW 4 -->
        <ion-row>
          <ion-col>
            <app-b></app-b>
          </ion-col>
  
          <ion-col>
            <app-b></app-b>
          </ion-col>
  
          <ion-col>
            <app-b></app-b>
          </ion-col>
  
          <ion-col>
            <app-b></app-b>
          </ion-col>
        </ion-row>
      <!-- ROW 5 -->
        <ion-row>
          <ion-col>
            <app-a></app-a>
          </ion-col>
  
          <ion-col>
            <app-a></app-a>
          </ion-col>
  
          <ion-col>
            <app-a></app-a>
          </ion-col>
  
          <ion-col>
            <app-a></app-a>
          </ion-col>
  
          <ion-col>
            <app-a></app-a>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
